<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="">
      <h1>NODE JS BOARD</h1>
      <h2>Practice how to use node js, express, ejs</h2>
    </div>
    <div class="nodejsboard">
      <div class="postListBox">
        <ul>
            <%postList.forEach(function(postName){%>
                <li>
                    <a href="readpost?postid=<%=postName%>">
                        <%=postName%>
                    </a>
                </li>
            <%});%>
        </ul>
      </div>
      <div class="functionBar">
        <button type="button" class="functionButton" name="newPost" onclick="window.location.href='/newpost'">New</button>
      </div>
    </div>
  </body>
</html>
